.cont-custom-position {
    padding-top: 50px;
}

.container .user-block {
    background: gainsboro;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #fff;
    cursor: pointer;
}

.container .user-data {
    background: aliceblue;
    /*text-align: center;*/
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #fff;
    cursor: pointer;
}

.container .title-row-fields {
  padding: 10px;
  background: darkgray;
  font-weight: 600;
  font-family: sans-serif;
}

.container .user-row-fields {
  padding: 10px;
  background: antiquewhite;
  font-family: cursive;
}

.container .btn-custom-position {
  position: relative;
  margin-left: 50%;
}

.container .row-top-position {
  margin-top: 10px;
}

.container .delete-btn-position {
    float: right;
}